/* Aling text in the right side*/
.labelTextfFindClientForm { text-align: right; }

/* Override bootstrap row - add margin on bottom*/

.row { margin-bottom: 8px; }

/* layout of findCliente form*/

.clientForm {
    margin-bottom: 30px;
    margin-top: 30px;
    padding-bottom: 25px;
    padding-top: 35px;
}

/*loader*/

.loader {
    animation: spin 2s linear infinite;
    border: 16px solid #d5dcdb;
    border-radius: 50%;
    border-top: 16px solid #b6ff00;
    height: 50px;
    margin-left: 78%;
    position: absolute;
    width: 50px;        
}

@keyframes spin {
    0% { transform: rotate(0deg); }

    100% { transform: rotate(360deg); }
}